name: Compile the job at the scheduled Time

on:
  push:
    branches:
      - master  
env:
  DOTNET_VERSION: '6.0.x'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@master

      - name: setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
               
      - name: download dependency
        run: dotnet restore

      - name: build app
        run: dotnet build -c Release --no-restore

      - name: Send some mail
        uses: ChinmayMahajan123456789/build-job@master

          
          
          



 
    


  



  