name: Compile the job at the scheduled Time

on:
  push:
    branches:
      - master  
env:
  DOTNET_VERSION: '6.0.x'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@master

      - name: setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
               
      - name: download dependency
        run: dotnet restore

      - name: build app
        run: dotnet build -c Release --no-restore

      - name: Send some mail
        uses: wadeww/send-email-action@master
        with:
          server_address: smtp.gmail.com
          port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Workflow finished
          body: Job completed ${{job.status}}
          to: chinmay.mahajan@amla.io
          from: Me

 
    


  



  